@tailwind base;
@tailwind components;
@tailwind utilities;

/*? Tema Escuro */
/* color: #001419; */
/* cor para background #07090E */
/* cor para fonte #94A3B8 */
/* cor para fonte #e2e8f0 */
/* cor secundaria #42E26F */

/*? Tema Claro */
/* cor para fonte #07090E */
/* cor para background #94A3B8 */
/* cor secundaria #42E26F */

:root {
  /*? Tema Escuro */
  --darkPrimary: #e2e8f0;
  --darkSecondary: #42e26f;
  --darkTertiary: #94A3B8;
  --darkBg: #07090E;
  
  /*? Tema Claro */
  --lightPrimary: #07090E;
  --lightSecondary: #42e26f;
  --lightTertiary: #94A3B8;
  --lightBg: #e2e8f0;

}

body {
  background-color: var(--lightBg);
  color: var(--lightPrimary);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: #42e26f;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #4b545e; */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #07090E;
  border: 2px solid #42e26f;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #001419;
} */

.mainBox {
  width: 100%;
}

@media (min-width: 640px) {
  .mainBox {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .mainBox {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .mainBox {
    max-width: 64rem;
  }
}

@media (min-width: 1280px) {
  .mainBox {
    max-width: 70rem;
  }
}
